- content_for :meta_headers do
  %meta{name: 'users_path', content: users_path}
  %meta{name: 'languages_path', content: languages_path}
  %meta{name: 'countries_path', content: countries_path}
  %meta{name: 'data_categories_path', content: data_categories_path}

  %meta{name: 'access_conditions', content: '['+AccessCondition.alpha.map{|a| "[\"#{a.name}\", #{a.id}]"}.join(',')+']'}
  %meta{name: 'discourse_types', content: '['+DiscourseType.alpha.map{|a| "[\"#{a.name}\", #{a.id}]"}.join(',')+']'}
  %meta{name: 'universities', content: '['+University.alpha.map{|a| "[\"#{a.name}\", #{a.id}]"}.join(',')+']'}

- content_for :page_scripts do
  advanced_search_filters

%h1 Advanced Search Items

.right
  = link_to 'Basic Search', search_items_path
.clear

- if params.length > 2
  %p== #{@search.total} search results

  = render 'search_results'

  -if can? :bulk_edit, Item
    .right
      = link_to 'Bulk edit results', bulk_update_items_path(params.delete_if {|p| ['action', 'controller'].include? p } )

  .clear

= form_tag new_advanced_search_items_path, :method => :post, :class => 'no-empty-submit' do
  #jui_filters{style: 'width: 80%; margin: 0 auto;'}

  %input#hidden_rules{type: :hidden, name: 'query'}

  = submit_tag 'Search', :name => nil
  = submit_tag 'Clear', :name => :clear

  .clear
